#results .row:nth-child(even) {
    background-color: #7ab5e0;
}

.error {
    color: red;
}

.sort-field {
    color: #2165ff;
}

.sort-field:hover {
    text-decoration: underline;
    cursor: pointer;
}

#spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: block;
}
