#cert-image-row {
    text-align: center;
    padding-bottom: 20px;
}

#image-sliders {
    text-align: center;
}

#interactive-mode-toggle {
    text-align: center;
}

#image-buttons {
    text-align: center;
}

#brightness {
    width: 200px;
}

#contrast {
    width:200px;
}