<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
    {% block custom_css %}{% endblock %}
</head>

<body>

<header>
    <div id="header" class="container">
        <b>Vital Records Printing</b>
{#        <button onclick=alert('Hello') style="float: right">Log In</button>#}
        <input type="button" style="float: right" value="Log In">
    </div>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for("static", filename="js/jquery-3.1.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/tether.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>

{% block custom_script %}{% endblock %}

</body>

</html>