<a class="result-row" href="#" id="{{ certificate.id }}" data-toggle="modal" data-target="#cert-modal">
    <div class="row">
        <div class="col-xs-2">
            {{ certificate.county }}
        </div>
        <div class="col-xs-1">
            {{ certificate.month }}
        </div>
        <div class="col-xs-1">
            {{ certificate.day }}
        </div>
        <div class="col-xs-1">
            {{ certificate.year }}
        </div>
        <div class="col-xs-1">
            {{ certificate.age }}
        </div>
        <div class="col-xs-1">
            {{ certificate.number }}
        </div>
        <div class="col-xs-1">
            {{ certificate.soundex }}
        </div>
        <div class="col-xs-2">
            {{ certificate.first_name }}
        </div>
        <div class="col-xs-2">
            {{ certificate.last_name }}
        </div>
    </div>
</a>