<div style="max-height: 100%;" class="modal fade" id="cert-modal" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%;">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header image-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- certificate info -->
                <p class="modal-title">
                    <span style="font-size: 1.5em; font-weight: bold;">
                        #<span id="cert-number"></span>
                    </span>
                    &nbsp;
                    <span id="cert-type" style="font-weight: bold"></span>:
                    <span id="cert-name"></span>,
                    <span id="cert-year"></span>,
                    <span id="cert-county"></span>
                    &nbsp;
                    <strong>Soundex:</strong>
                    <span id="cert-soundex"></span>
                </p>
                {% if current_user.can_print %}
                        <hr/>
                        <!-- sliders -->
                        <div class="row" id="brightness-slider">
                            <div class="col-xs-6" stlye="display: none;">
                                <p>Brightness</p>
                                <input id="brightness" name="brightness" type="range" min="-50" max="50" value="0">
                            </div>
                            <div class="col-xs-6">
                                <p>Contrast</p>
                                <input id="contrast" name="contrast" type="range" min="-50" max="50" value="0">
                            </div>
                        </div>
                    {% elif current_user.is_authenticated and current_user.has_invalid_password %}
                        <hr/>
                        <!-- sliders -->
                        <div class="row" id="brightness-slider">
                            <h2>You must <a href={{ url_for("password") }}>update</a> your password first before being able to print.</h2>
                        </div>
                {% endif %}
            </div>

            <div id="cert-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <ol class="carousel-indicators">
                </ol>
                {% if current_user.can_print %}
                    <div id="carousel-body" class="modal-body image-modal-body">
                        <div class="carousel-inner">
                            <img id="spinner" src="/static/img/spinner.gif" width="200" height="200">
                        </div>
                    </div>
                {% elif current_user.is_authenticated and current_user.has_invalid_password %}
                    <div id="carousel-body" class="modal-body image-modal-body">
                        <div class="carousel-inner">
                            <img id="spinner" src="/static/img/spinner.gif" width="200" height="200">
                        </div>
                    </div>
                {% else %}
                    <div id="carousel-body" class="modal-body not-logged-in">
                        <div class="carousel-inner">
                            <img id="spinner" src="/static/img/spinner.gif" width="200" height="200">
                        </div>
                    </div>
                {% endif %}
                <!-- Controls -->
                <div id="arrow-controls">
                </div>
            </div>

            <div class="modal-footer">
                <button id="toggle-image-view-btn" class="btn btn-secondary">
                    Fit To Screen
                    <span class="glyphicon glyphicon-resize-small"></span>
                </button>
                <button id="rotate-left-btn" class="btn btn-secondary">
                    Rotate Left
                    <span class="glyphicon glyphicon-share-alt icon-flipped"></span>
                </button>
                <button id="rotate-right-btn" class="btn btn-secondary">
                    Rotate Right
                    <span class="glyphicon glyphicon-share-alt"></span>
                </button>
                {% if current_user.can_print %}
                    <button id="reset-btn" class="btn btn-warning">
                        Reset
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button id="print-btn" class="btn btn-info">
                        Print
                        <span class="glyphicon glyphicon-print"></span>
                    </button>
                    <button id="print-all-btn" class="btn btn-info">
                        Print All
                        <span class="glyphicon glyphicon-duplicate"></span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>