<a class="result-row" href="#" id="{{ certificate.id }}" data-toggle="modal" data-target="#cert-modal">
    <div class="row">
        <div class="col-sm-2">
            {{ certificate.county }}
        </div>
        <div class="col-sm-2">
            {{ certificate.year }}
        </div>
        <div class="col-sm-2">
            {{ certificate.number }}
        </div>
        <div class="col-sm-2">
            {{ certificate.first_name }}
        </div>
        <div class="col-sm-2">
            {{ certificate.last_name }}
        </div>
        <div class="col-sm-2">
            {{ certificate.soundex }}
        </div>
    </div>
</a>