<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body>

{% include("navbar.html") %}

<div class="container">
    <form id="change-pass-form" method="post">
        {{ password_form.hidden_tag() }}

        <div class="row">
            <div class="form-group {% if password_form.old_password.errors %}has-error{% endif %}">
                {{ password_form.old_password.label(class="col-xs-4 control-label") }}
                <div class="col-xs-3">
                    {{ password_form.old_password(class="form-control") }}
                    {% if password_form.old_password.errors %}
                        <div style="color: #a94442">
                            {{ password_form.old_password.errors[0] }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group {% if password_form.new_password.errors %}has-error{% endif %}">
                {{ password_form.new_password.label(class="col-xs-4 control-label") }}
                <div class="col-xs-3">
                    {{ password_form.new_password(class="form-control") }}
                    {% if password_form.new_password.errors %}
                        <div style="color: #a94442">
                            {{ password_form.new_password.errors[0] }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">
            Change Password
        </button>

    </form>
</div>

</body>
</html>