{% extends "base.html" %}

{% block content %}
{#    <img id="image-id" src="{{ file_path }}">#}
    <img id="image-id" src="{{ url_for("static", filename="img/test_pic.jpg") }}">

    <form id="silderInput">
      <label for="brightness">Brightness</label>
      <input id="brightness" name="brightness" type="range" min="-50" max="50" value="0" oninput="applyFilters()">

      <label for="contrast">Contrast</label>
      <input id="contrast" name="contrast" type="range" min="-50" max="50" value="0" oninput="applyFilters()">
    </form>

    <input type="checkbox" id="interactive-mode" value="true" checked onclick="toggleMode()">Interactive Mode<br>
    <p>Interactive mode lets you see your changes in real time as you adjust the sliders</p>

    <button id="resetbtn" class="btn btn-success">Reset Photo</button>
    <button id="savebtn" class="btn btn-success">Save Photo</button>
    <button id="printbtn" class="btn btn-success">Print Photo</button>
{% endblock %}
