<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/search.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/edit.css") }}" rel="stylesheet">
</head>
<body>

{% include("navbar.html") %}

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h2>Search for <u>Birth</u>, <u>Death</u>, and <u>Marriage</u> Certificates</h2>
    {% include("search_form.html") %}
    {% include("search_results.html") %}
    {% include("certificate_modal.html") %}
</div>

<script type="text/javascript" src="{{ url_for("static", filename="js/lib/jquery-3.1.1.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/lib/tether.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/lib/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/lib/caman.full.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/edit.js') }}"></script>

</body>
</html>