
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <div class="nav">

    </div>
    <title>Title</title>
</head>

<body>
        <h1>password reset form</h1>

        <form method="post" action="{{ url_for("change") }}" style="min-width: 200px;">
        {{ form.hidden_tag() }}

            <div class="form-group">
        {{ change_form.username.label(class="control-label") }}
        {{ change_form.username(class="form-control", required="true") }}
            </div>
        </form>

        <form method="post" action="{{ url_for("email") }}" style="min-width: 200px;">
        {{ form.hidden_tag() }}
            <button type="submit_2" class="btn btn-primary">
                Send Email
            </button>
        </form>
</body>
</html>