<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link href="{{ url_for("static", filename="css/print.css") }}" rel="stylesheet">
            <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">

    </head>

    <body>
{#        <div id="padTop">#}
{#            <img id="test" src="{{ url_for("static", filename="img/test150-0.png") }}">#}
{#            <img id="test" src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png">#}
{#            <img id="test" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Rectangle_example.svg/800px-Rectangle_example.svg.png">#}
{##}
{#        </div>#}


{#<table style="width:100%; vertical-align: middle; text-align: center;" class="tabletest">#}
{#  <tr>#}
{#      <img src="{{ url_for("static", filename="img/test150-0.png") }}">#}
{#  </tr>#}
{#</table>#}


<table class="tabletest">
  <tr>
    <td>
        <img src="{{ url_for("static", filename="img/test150-0.png") }}">
{#        <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png">#}
{#        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Rectangle_example.svg/800px-Rectangle_example.svg.png">#}
    </td>
  </tr>
</table>

{#    <div class="wraptocenter">#}
{#        <img src="http://www.brunildo.org/thumb/tmiri2_o.jpg">#}
{#    </div>#}





    <script type="text/javascript" src="{{ url_for("static", filename="js/lib/jquery-3.1.1.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/edit.js') }}"></script>
    </body>
</html>