<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/edit.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/report.css") }}" rel="stylesheet">
<style>
    div.a {
        float: right;
        margin: 0 0 10px 10px;
    }
    div.b {
        float: left;
    }
</style>
    <title>Certificate Issue Reports</title>
</head>


{% include("navbar.html") %}

<body>
<div class="container">
    <h1>
        <center>Reports</center>
    </h1>
    {% for key in newList %}
        <div>
            <h3>
                <div class="b">
                    Certificate ID  <a href="{{ url_for('.report', cert_id=key) }}">{{ key }}</a><br>
                </div>
                <div class="a">
                    Reported By {{ newList[key][0] }}
                    Updated On {{ newList[key][1] }}
                </div>
               <br>
        </h3>

        {% for item in newList[key][2:] %}
            <h4>{{ item }}</h4>
        {% endfor %}



        {#    <h3> {{key }}{{ newList[key] }}</h3>#}
        <hr>
    {% endfor %}

</div>

{#    <h1>hello</h1>#}

</body>


{#<style>#}
{#    div.a {#}
{#        float: right;#}
{#        margin: 0 0 10px 10px;#}
{#    }#}
{#    div.b {#}
{#        float: left;#}
{#    }#}
{#</style>#}
</html>
