<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/edit.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/report.css") }}" rel="stylesheet">
    <title>Certificate Issue Reports</title>
</head>

{% include("navbar.html") %}

<body>
<div class="container">
    <h1><center>Reports</center></h1>
    {% for key in newList %}
        <h3>
            Certificate ID: <a href="{{ url_for('.report', cert_id=key) }}">{{key }}</a>
        </h3>
        <div align="right">
            <h4>
                Reported By:
                <br>
                on:
            </h4>
        </div>
            <br>
        {% for item in newList[key] %}
          <p>{{ item }}</p>
            {% endfor %}



{#    <h3> {{key }}{{ newList[key] }}</h3>#}
        <hr>
    {% endfor %}

</div>

{#    <h1>hello</h1>#}

</body>


</html>