<div class="well">
    <form class="form-horizontal" id="search-form" method="post" action="{{ url_for("search") }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form.type.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.type(class="form-control") }}
                    </div>
                </div>
                <div class="error type"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.first_name.label(class="col-sm-4 control-label text-left") }}
                    <div class="col-sm-8">
                        {{ form.first_name(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.last_name.label(class="col-sm-4 control-label") }}
                    <div class="col-sm-8">
                        {{ form.last_name(class="form-control") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.county.label(class="col-sm-4 control-label") }}
                    <div class="col-sm-8">
                        {{ form.county(class="form-control") }}
                    </div>
                </div>
                <div class="error county"></div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.year.label(class="col-sm-4 control-label") }}
                    <div class="col-sm-8">
                        {{ form.year(class="form-control", maxLength=4) }}
                    </div>
                </div>
                <div class="error year"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.number.label(class="col-sm-4 control-label") }}
                    <div class="col-sm-8">
                        {{ form.number(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    {{ form.soundex.label(class="col-sm-4 control-label") }}
                    <div class="col-sm-8">
                        {{ form.soundex(class="form-control", maxLength=4) }}
                    </div>
                </div>
                <div class="error soundex"></div>
            </div>
        </div>

        <!-- sort fields -->
        {{ form.year_sort(hidden="true") }}
        {{ form.number_sort(hidden="true") }}
        {{ form.first_name_sort(hidden="true") }}
        {{ form.last_name_sort(hidden="true") }}
        {{ form.soundex_sort(hidden="true") }}

        <!-- result slice start position -->
        {{ form.start(hidden="true") }}

        <button type="submit" class="btn btn-primary" style="width: 100%;">
            Search ( click me or press ENTER )
        </button>
    </form>
</div>