{% extends "base.html" %}

{% block custom_css %}
    <link href="{{ url_for("static", filename="css/search.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/edit.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
    SEARCH FOR CERTIFICATES <br>

    <form id="search-form" method="post" action="{{ url_for("search") }}">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-sm-12">
                {{ form.type.label }}
                {{ form.type(class="form-control") }}
                <div class="error type"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="col-sm-6">
                {{ form.last_name.label }}
                {{ form.last_name(class="form-control") }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form.county.label }}
                {{ form.county(class="form-control") }}
                <div class="error county"></div>
            </div>
            <div class="col-sm-6">
                {{ form.year.label }}
                {{ form.year(class="form-control", maxLength=4) }}
                <div class="error year"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form.number.label }}
                {{ form.number(class="form-control") }}
            </div>
            <div class="col-sm-6">
                {{ form.soundex.label }}
                {{ form.soundex(class="form-control", maxLength=4) }}
                <div class="error soundex"></div>
            </div>
        </div>

        {{ form.year_sort(hidden="true") }}
        {{ form.number_sort(hidden="true") }}
        {{ form.first_name_sort(hidden="true") }}
        {{ form.last_name_sort(hidden="true") }}
        {{ form.soundex_sort(hidden="true") }}
        {{ form.start(hidden="true") }}

        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-2">
                    County
                </div>
                <div class="col-sm-2 sort-field" data-sort-order="none" data-target="year_sort">
                    Year <span class="glyphicon" aria-hidden="true"></span>
                </div>
                <div class="col-sm-2 sort-field" data-sort-order="none" data-target="number_sort">
                    Certificate Number <span class="glyphicon" aria-hidden="true"></span>
                </div>
                <div class="col-sm-2 sort-field" data-sort-order="none" data-target="first_name_sort">
                    First Name <span class="glyphicon" aria-hidden="true"></span>
                </div>
                <div class="col-sm-2 sort-field" data-sort-order="none" data-target="last_name_sort">
                    Last Name <span class="glyphicon" aria-hidden="true"></span>
                </div>
                <div class="col-sm-2 sort-field" data-sort-order="none" data-target="soundex_sort">
                    Soundex <span class="glyphicon" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="results"></div>
            <img id="spinner" src="{{ url_for('static', filename='img/spinner.gif') }}" height="30" />
        </div>
    </div>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div style="max-height: 100%;" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header image-modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Certificate Number goes here</h4>
                            <p>County: </p>
                        <div class="row" id="brightness-slider">
                    <div class="col-md-6">
                        <p>Brightness</p>
                        <input id="brightness" name="brightness" type="range" min="-50" max="50" value="0">
                    </div>
                    <div class="col-md-6">
                        <p>Contrast</p>
                        <input id="contrast" name="contrast" type="range" min="-50" max="50" value="0">
                    </div>
            </div>
        </div>
        <div class="modal-body image-modal-body" style="-webkit-transition-duration: 0.8s;" id="modal-image">
            <div class="row" id="cert-image-row">
                <div class="col-md-12">
                    <img id="cert-image" src="{{ url_for("static", filename="img/test200-0.png")}}">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="toggle-image-view-btn" class="btn btn-seconday">Toggle Image View</button>
            <button id="resetbtn" class="btn btn-warning">Reset Photo</button>
            &nbsp;
            <button id="printbtn" class="btn btn-info">Print Photo</button>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block custom_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="{{ url_for("static", filename="js/caman.full.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/edit-image.js") }}"></script>
{% endblock %}
